.sidebarItem {
  display: flex;
  align-items: center;
  cursor: pointer;

  & > .MuiSvgIcon-root{
    padding: 15px;
    font-size: 30px !important;
  }
  >h2{
    font-weight: 800;
    font-size: 20px !important;
    margin-right: 20px;
  }
}
.sidebarItem:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: $primary-color;
    transition: color 100ms ease-in;
}